body {
  font-family: Arial;
}

main {
  padding-top: 100px;
}

.product-item {
  width: 249px;
  max-height: 494px;
  margin: 0 auto;
  box-sizing: border-box;

  &:hover {
    .product-item__desctiption {
      border: 1px solid #7eb105;
      border-radius: 3px;
      box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);
    }

    .product-item__desctiption-bottom {
      display: block;
    }
  }

  &__desctiption {
    padding-left: 15px;
    padding-right: 16px;
    padding-top: 12px;
    border: 1px solid transparent;
    border-right: 1px solid #ebebeb;

    &-bottom {
      padding-top: 9px;
      padding-bottom: 15px;
      display: none;
    }
  }

  &__icons {
    display: flex;
    padding-bottom: 1px;
    height: 27px;
  }

  &__icon {
    margin-right: 16px;
    cursor: pointer;
  }

  &__colors {
    display: flex;
    margin-top: -12px;
    margin-bottom: 8px;
    padding-left: 2px;
    position: relative;
    z-index: 1;
  }

  &__color {
    width: 16px;
    height: 16px;
    border: 1px solid #fff;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;

    &.color-black {
      background: #454545;
    }

    &.color-pink {
      background: #ffaca7;
    }

    &.current {
      box-shadow: 0 0 0 2px #7eb105;
    }
  }

  &__testimonials {
    display: flex;
    justify-content: space-between;
  }

  &__rating {
    display: flex;
  }

  &__rating-icons {
    display: flex;
  }

  &__rating-icon {
    width: 14px;
    height: 14px;
    background: url("../img/icons/star_nofill.svg") center no-repeat;

    .rating-3 &:nth-child(-n + 3) {
      background: url("../img/icons/star_fill.svg") center no-repeat;
    }
  }

  &__point {
    font-weight: Bold;
    font-size: 12px;
    line-height: 14px;
    color: #999999;
    padding-left: 4px;
  }

  &__reviews {
    font-size: 12px;
    line-height: 14px;
    color: #7eb105;
    display: flex;
    align-items: center;

    &-icon {
      display: block;
      width: 18px;
      height: 15px;
      margin-right: 3px;
      background: url("../img/icons/review.svg") center no-repeat;
    }

    a {
      color: inherit;
    }
  }

  &__code {
    font-size: 10px;
    line-height: 14px;
    margin-top: 4px;
    color: #c4c4c4;

    span {
      color: #212121;
    }
  }

  &__status {
    padding-top: 5px;
    font-size: 12px;
    line-height: 14px;

    &::before {
      content: "";
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin-right: 5px;
    }

    &.status-not-enough {
      color: #f6731c;

      &::before {
        background-color: #f6731c;
      }
    }

    &.status-enough {
      color: #7eb105;

      &::before {
        background-color: #7eb105;
      }
    }
  }

  &__name {
    display: block;
    padding-top: 6px;
    font-size: 14px;
    line-height: 16px;
    color: #212121;
    text-decoration: none;
    height: 32px;
  }

  &__versions {
    visibility: hidden;
    height: 18px;
    padding-top: 7px;
    padding-left: 2px;

    &.active {
      visibility: visible;
    }
  }

  &__version {
    font-size: 14px;
    line-height: 18px;
    color: #7eb105;
    border-bottom: 1px dashed #7eb105;
    margin-right: 9px;
    cursor: pointer;

    &:hover {
      border-bottom: none;
      color: #212121;
      background: #eefbe0;
      border-radius: 2px;
    }

    &.current {
      border-bottom: none;
      color: #212121;
      background: #eefbe0;
      border-radius: 2px;
    }
  }

  &__price {
    display: flex;
    align-items: center;
    font-family: "Ubuntu";

    &-container {
      padding-top: 3px;
    }

    &-special {
      font-size: 10px;
      line-height: 12px;
      color: #f6731c;
      visibility: hidden;

      &.active {
        visibility: visible;
      }
    }

    &-old {
      color: #c4c4c4;
      text-decoration: line-through;
      font-size: 14px;
      padding-right: 9px;
    }

    &-current {
      font-size: 21px;
      line-height: 23px;
      font-weight: bold;
      color: #f6731c;
    }

    &-cy {
      vertical-align: super;
      font-size: 13px;
      line-height: 1em;
    }
  }

  &__bonus {
    font-size: 12px;
    line-height: 14px;
    color: #7eb105;
    padding-top: 5px;
    padding-bottom: 4px;
    visibility: hidden;
    height: 14px;

    &.active {
      visibility: visible;
    }

    span {
      font-weight: bold;
    }
  }

  &__button {
    cursor: pointer;

    &-container {
      width: 33.33%;
      display: flex;
      justify-content: center;
    }
  }

  &__buttons {
    display: flex;
    padding-left: 1px;
    margin-right: -1px;

    &-container {
      border-top: 1px solid #ebebeb;
      padding-top: 11px;
      padding-bottom: 11px;
    }
  }

  &__characteristics {
    padding-top: 3px;
    padding-left: 22px;
    padding-right: 8px;

    &-container {
      padding-top: 13px;
    }

    &-title {
      font-size: 14px;
      line-height: 16px;
      color: #212121;
      font-weight: bold;
    }

    &-item {
      font-size: 14px;
      line-height: 19px;
      color: #999999;
      position: relative;

      &::before {
        content: "";
        display: block;
        width: 6px;
        height: 6px;
        position: absolute;
        top: 7px;
        left: -16px;
        border-radius: 50%;
        background: #c4c4c4;
      }
    }
  }

  &__stock {
    display: flex;

    &-text {
      display: flex;
      flex-direction: column;
      padding-left: 9px;
      padding-top: 6px;
    }

    &-title {
      font-size: 12px;
      line-height: 14px;
      font-family: "Ubuntu";
      font-weight: bold;
      text-transform: uppercase;
    }

    &-description {
      font-size: 11px;
      font-weight: bold;
      line-height: 16px;
      color: #f6731c;
    }
  }
}
