// colors

$white: #fff;
$gray: #E5E5E5;
$gray2: #ebebeb;
$gray3: #c4c4c4;
$gray4: #999999;
$gray5: #eefbe0;
$black: #454545;
$black2: #212121;
$green: #7eb105;
$pink: #ffaca7;
$orange: #f6731c;

//fonts
$Arial: 'Arial';
$Ubuntu: 'Ubuntu';
